# Ignorar ambiente virtual (pesado e inútil para os outros)
.venv/
venv/
env/

# Ignorar arquivos compilados do Python
__pycache__/
*.pyc

# Ignorar pastas de build do PyInstaller (o .exe fica aqui, não sobe pro código)
build/
dist/

# Ignorar arquivos de sistema operacional
.DS_Store

# Ignorar arquivos de saída (Opcional: se quiser provar que funciona, pode deixar subir)
# Mas geralmente ignoramos o resultado final para não poluir
# balancete_final.xlsx
# Relatorio_Executivo_Formatado.xlsx